<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeaderBackgroundColor</key>
	<string>0xFF2D2D</string>
	<key>ButtonBackgroundColor</key>
	<string>0x0080FF</string>
    <key>TableViewBackgroundColor</key>
    <string>0x0080FF</string>
</dict>
</plist>