<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>阿拉伯联合酋长国</string>
            <key>code</key>
            <string>AE</string>
        </dict>
        <dict>
            <key>title</key>
            <string>阿尔巴尼亚</string>
            <key>code</key>
            <string>AL</string>
        </dict>
        <dict>
            <key>title</key>
            <string>亚美尼亚</string>
            <key>code</key>
            <string>AM</string>
        </dict>
        <dict>
            <key>title</key>
            <string>阿根廷</string>
            <key>code</key>
            <string>AR</string>
        </dict>
        <dict>
            <key>title</key>
            <string>奥地利</string>
            <key>code</key>
            <string>AT</string>
        </dict>
        <dict>
            <key>title</key>
            <string>澳大利亚</string>
            <key>code</key>
            <string>AU</string>
        </dict>
        <dict>
            <key>title</key>
            <string>阿塞拜疆</string>
            <key>code</key>
            <string>AZ</string>
        </dict>
        <dict>
            <key>title</key>
            <string>巴哈马</string>
            <key>code</key>
            <string>BA</string>
        </dict>
        <dict>
            <key>title</key>
            <string>巴巴多斯</string>
            <key>code</key>
            <string>BB</string>
        </dict>
        <dict>
            <key>title</key>
            <string>孟加拉国</string>
            <key>code</key>
            <string>BD</string>
        </dict>
        <dict>
            <key>title</key>
            <string>比利时</string>
            <key>code</key>
            <string>BE</string>
        </dict>
        <dict>
            <key>title</key>
            <string>保加利亚</string>
            <key>code</key>
            <string>BG</string>
        </dict>
        <dict>
            <key>title</key>
            <string>中国</string>
            <key>code</key>
            <string>CN</string>
        </dict>
        <dict>
            <key>title</key>
            <string>哥伦比亚</string>
            <key>code</key>
            <string>CO</string>
        </dict>
        <dict>
            <key>title</key>
            <string>哥斯达黎加</string>
            <key>code</key>
            <string>CR</string>
        </dict>
        <dict>
            <key>title</key>
            <string>塞浦路斯</string>
            <key>code</key>
            <string>CY</string>
        </dict>
        <dict>
            <key>title</key>
            <string>捷克共和国</string>
            <key>code</key>
            <string>CZ</string>
        </dict>
        <dict>
            <key>title</key>
            <string>德国</string>
            <key>code</key>
            <string>DE</string>
        </dict>
        <dict>
            <key>title</key>
            <string>丹麦</string>
            <key>code</key>
            <string>DK</string>
        </dict>
        <dict>
            <key>title</key>
            <string>多明尼加共和国</string>
            <key>code</key>
            <string>DO</string>
        </dict>
        <dict>
            <key>title</key>
            <string>阿尔及利亚</string>
            <key>code</key>
            <string>DZ</string>
        </dict>
        <dict>
            <key>title</key>
            <string>厄瓜多尔</string>
            <key>code</key>
            <string>EC</string>
        </dict>
        <dict>
            <key>title</key>
            <string>埃及</string>
            <key>code</key>
            <string>EG</string>
        </dict>
        <dict>
            <key>title</key>
            <string>西班牙</string>
            <key>code</key>
            <string>ES</string>
        </dict>
        <dict>
            <key>title</key>
            <string>芬兰</string>
            <key>code</key>
            <string>FI</string>
        </dict>
        <dict>
            <key>title</key>
            <string>法国</string>
            <key>code</key>
            <string>FR</string>
        </dict>
        <dict>
            <key>title</key>
            <string>英国</string>
            <key>code</key>
            <string>FR</string>
        </dict>
        <dict>
            <key>title</key>
            <string>格鲁吉亚</string>
            <key>code</key>
            <string>GE</string>
        </dict>
        <dict>
            <key>title</key>
            <string>中国</string>
            <key>code</key>
            <string>CN</string>
        </dict>
        <dict>
            <key>title</key>
            <string>加纳</string>
            <key>code</key>
            <string>GH</string>
        </dict>
        <dict>
            <key>title</key>
            <string>希腊</string>
            <key>code</key>
            <string>GR</string>
        </dict>
        <dict>
            <key>title</key>
            <string>危地马拉</string>
            <key>code</key>
            <string>GT</string>
        </dict>
        <dict>
            <key>title</key>
            <string>中国香港</string>
            <key>code</key>
            <string>HK</string>
        </dict>
        <dict>
            <key>title</key>
            <string>洪都拉斯</string>
            <key>code</key>
            <string>HN</string>
        </dict>
        <dict>
            <key>title</key>
            <string>克罗地亚</string>
            <key>code</key>
            <string>HR</string>
        </dict>
        <dict>
            <key>title</key>
            <string>日本</string>
            <key>code</key>
            <string>JP</string>
        </dict>
        <dict>
            <key>title</key>
            <string>沙特阿拉伯</string>
            <key>code</key>
            <string>SA</string>
        </dict>
        <dict>
            <key>title</key>
            <string>新加坡</string>
            <key>code</key>
            <string>SG</string>
        </dict>
        <dict>
            <key>title</key>
            <string>斯洛伐克</string>
            <key>code</key>
            <string>SK</string>
        </dict>
        <dict>
            <key>title</key>
            <string>萨尔瓦多</string>
            <key>code</key>
            <string>SV</string>
        </dict>
        <dict>
            <key>title</key>
            <string>泰国</string>
            <key>code</key>
            <string>TH</string>
        </dict>
        <dict>
            <key>title</key>
            <string>突尼斯</string>
            <key>code</key>
            <string>TN</string>
        </dict>
        <dict>
            <key>title</key>
            <string>土耳其</string>
            <key>code</key>
            <string>TR</string>
        </dict>
        <dict>
            <key>title</key>
            <string>特立尼达和多巴哥</string>
            <key>code</key>
            <string>TT</string>
        </dict>
        <dict>
            <key>title</key>
            <string>中国台湾</string>
            <key>code</key>
            <string>TW</string>
        </dict>
        <dict>
            <key>title</key>
            <string>乌克兰</string>
            <key>code</key>
            <string>UA</string>
        </dict>
        <dict>
            <key>title</key>
            <string>美国</string>
            <key>code</key>
            <string>US</string>
        </dict>
        <dict>
            <key>title</key>
            <string>乌拉圭</string>
            <key>code</key>
            <string>UY</string>
        </dict>
        <dict>
            <key>title</key>
            <string>乌兹别克斯坦</string>
            <key>code</key>
            <string>UZ</string>
        </dict>
        <dict>
            <key>title</key>
            <string>越南</string>
            <key>code</key>
            <string>VN</string>
        </dict>
        <dict>
            <key>title</key>
            <string>也门</string>
            <key>code</key>
            <string>YE</string>
        </dict>
        <dict>
            <key>title</key>
            <string>南非</string>
            <key>code</key>
            <string>ZA</string>
        </dict>
    </array>
</plist>
