<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>公司</string>
			<key>iconName</key>
			<string>side_company_logo</string>
			<key>className</key>
			<string>CompanySettingViewController</string>
			<key>type</key>
			<integer>1</integer>
			<key>entityName</key>
			<string>Company</string>
		</dict>
		<dict>
			<key>title</key>
			<string>个人</string>
			<key>iconName</key>
			<string>side_company_logo</string>
			<key>className</key>
			<string>PersonalSettingController</string>
			<key>type</key>
			<integer>1</integer>
			<key>entityName</key>
			<string>LoginUser</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>司机管理</string>
			<key>iconName</key>
			<string>side_manage</string>
			<key>className</key>
			<string>DriverManageViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>地址管理</string>
			<key>iconName</key>
			<string>side_manage</string>
			<key>className</key>
			<string>AddressViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>员工管理</string>
			<key>iconName</key>
			<string>side_group</string>
			<key>className</key>
			<string>EmployeeManageViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>邀请员工注册</string>
			<key>iconName</key>
			<string>side_group</string>
			<key>className</key>
			<string>InvitationViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的收藏</string>
			<key>iconName</key>
			<string>side_favourite</string>
			<key>className</key>
			<string>FavoriteViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>投诉与建议</string>
			<key>iconName</key>
			<string>side_sms</string>
			<key>className</key>
			<string>AdviceViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>系统设置</string>
			<key>iconName</key>
			<string>side_setting</string>
			<key>className</key>
			<string>SettingViewController</string>
		</dict>
	</array>
</array>
</plist>
